.nav {
  width: 100%;
  position: fixed;
  height: 122px;
  background-color: var(--default-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--margin-max);
  padding-right: var(--margin-max);
  box-shadow: 0px 4px 4px var(--gray-color);
  transition: all 50ms ease-out;
  z-index: 50;
}

.nav.scrolled {
  box-shadow: 2px 6px 6px var(--gray-color);
}

.nav div:first-child {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 0;
}

.nav div:first-child img {
  cursor: pointer;
}

.nav .nav-menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav .nav-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.nav .nav-menu ul > li {
  line-height: 1.5;
  font-size: 16px;
  cursor: pointer;
}

.borderBottom {
  border-bottom: 1.1px solid black;
  margin-bottom: -1.1px;
}

.nav .nav-menu ul li:last-child {
  font-weight: bold;
}
